header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 50px;
    color: #FFF;
    width: 100%;
}

.fa-solid {
    color: rgb(255, 255, 255);
    margin-right: 10px;
}

h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

img {
    width: 250px;
    border-radius: 50%;
}

.informations {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 1rem;
    justify-content: center;
    align-items: flex-start;
    width: 260px;
}
